@model AsmStoreBook.Models.Order

@{
    ViewData["Title"] = "Detail";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Books
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price 1 product
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <td>
                       @detail.Book.Title                      
                    </td>
                    <td>
                       @detail.Quantity                   
                    </td>
                    <td>
                       @detail.Book.Price                 
                    </td>
                    <td>
                       @(detail.Quantity * detail.Book.Price)                
                    </td>
                    <td>
                       @detail.Book.Category.Name                 
                    </td>
                    <td>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@detail.Book.Isbn">Infor Book</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

