@model IEnumerable<AsmStoreBook.Models.Book>

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input asp-controller="Books" asp-action="Search" type="submit" value="Search" />
    </p>
}
<div class="product-grid__product-wrapper">
    <div class="product-grid__product">
        <!-- Product list start here -->
        <!-- Single product -->
        @foreach (var book in Model)
        {
            <div class="product-grid__img-wrapper">
                <img src="@book.ImgUrl" alt="Img" class="product-grid__img" />
            </div>
            <span class="product-grid__title">@book.Title</span>
            <span class="product-grid__price">@book.Price</span>
            <div class="product-grid__extend-wrapper">
                <div class="product-grid__extend">
                    <p class="product-grid__description">@book.Desc</p>
                    <span class="product-grid__btn product-grid__add-to-cart"><i class="fa fa-cart-arrow-down"></i> Add to cart</span>
                    <span class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i> View more</span>
                </div>
            </div>
        }
    </div>
</div>
<!-- end Single product -->

<div style="display:flex;text-align:center;justify-content:center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" asp-route-id="0">First</a>
            </li>
            @for (var i = @ViewBag.min; i < @ViewBag.end; i++)
            {
                var style = (ViewBag.currentPage == @i) ? "active" : "";
                <li class="page-item @style">
                    <a class="page-link" asp-route-id="@i">@(i+1)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" asp-route-id="@ViewBag.numberOfPages">EndPage</a>
            </li>
        </ul>
    </nav>
</div>