@model IEnumerable<AsmStoreBook.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h2>Cart</h2>

<p>
    <a asp-controller="Books" asp-action="Index">Buy Now</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Title </th>
            <th> Price </th>
            <th>
                Quantity
            </th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Price)
                </td>
                <td>
                    <input asp-for="@item.Quantity" asp-route-Quantity="@item.Quantity" class="product-quantity" type="number">
                    <span asp-validation-for="@item.Quantity" class="text-danger"></span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                <a asp-action="Detele" asp-route-BookId="@item.Book.Isbn" value="Save">Delete</a>
                @*<a asp-action="IncreaseNumBook" asp-route-Quantity="@item.Quantity" asp-route-isbn="@item.Book.Isbn" value="Save">Confirm</a> chỉnh sửa*@
            </td>
            </tr>
        }
       
    </tbody>

</table>
<a asp-controller="Carts" asp-action="Checkout">Checkout</a>