@model IEnumerable<AsmStoreBook.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h2>Cart</h2>

<p>
    <a asp-controller="Books" asp-action="Index">Buy Now</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Title </th>
            <th> Price </th>
            <th>
                Total
            </th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @using (Html.BeginForm("Confirm", "Carts", FormMethod.Post))
                    {
                        <input name="BookIsbn" value="@item.BookIsbn" type="hidden" />
                        <input asp-for="@item.Quantity" name="quantity" type="number" />
                        <button type="submit">Update</button>
                    }
                </td>
                <td>
                    <a asp-controller="Carts" asp-action="Delete" asp-route-BookIsbn="@item.BookIsbn">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<p class="text-align-right">Total bill: @ViewBag.totalPrice</p>
<a asp-controller="Carts" asp-action="Checkout">Checkout</a>